<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Connexion</title>
        <link type="text/css" rel="stylesheet" href="../static/style.css" />
    </head>
    <body> 
    <ul>
	  <li><a href="index.html">Accueil</a></li>
	  <li><a class="active" href="/inscription.html">Inscription</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li><a href="#about">DEVOTEAM</a></li>
	</ul>
        <form method="post" action="connexion">
            <fieldset>
                <legend>Connexion</legend>
                <p>Vous pouvez vous connecter via ce formulaire.</p>

                <label for="nom">Adresse email <span class="requis">*</span></label>
                <input type="email" id="email" name="email" value="" size="20" maxlength="60" />
                <span class="erreur"></span>
                <br />

                <label for="motdepasse">Mot de passe <span class="requis">*</span></label>
                <input type="password" id="motdepasse" name="motdepasse" value="" size="20" maxlength="20" />
                <span class="erreur"></span>
                <br />

                <input type="submit" value="Connexion" class="sansLabel" />
                <br />
                
                <p class="${empty form.erreurs ? 'succes' : 'erreur'}"></p>
            </fieldset>
        </form>
        <div class="img-back"></div>
    </body>
</html>