<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Inscription</title>
        <link type="text/css" rel="stylesheet" href="static/style.css" />
    </head>
    <body>
    <ul>
	  <li><a href="index.html">Accueil</a></li>
	  <li><a class="active" href="/connexion.html">Connexion</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li><a href="#about">DEVOTEAM</a></li>
	</ul>
        <form method="post" action="inscription">
            <fieldset>
                <legend>Inscription</legend>
                <p>Vous pouvez vous inscrire via ce formulaire.</p>
 
                <label for="email">Adresse email <span class="requis">*</span></label>
                <input type="text" id="email" name="email" th:field="*{email}" size="20" maxlength="60" />
                <br />

                <label for="motdepasse">Mot de passe <span class="requis">*</span></label>
                <input type="password" id="motdepasse" name="motdepasse" th:field="*{password}" size="20" maxlength="20" />
                <br />

                <label for="confirmation">Confirmation du mot de passe <span class="requis">*</span></label>
                <input type="password" id="confirmation" name="confirmation" th:field="*{password}"  size="20" maxlength="20" />
                <br />

                <label for="nom">Nom d'utilisateur</label>
                <input type="text" id="nom" name="nom" th:field="*{name}"  size="20" maxlength="20" />
                <br />

                <input type="submit" value="Inscription" class="sansLabel" />
                <br />
            </fieldset>
        </form>
       <div class="img-back"></div>
    </body>
</html>